<div class="container">
  <form #ngForm="ngForm">
    <fieldset>
      <legend>Add Todo</legend>
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="exampleInputTitle" class="form-label mt-4">Todo Title</label>
          <input type="text" ngModel name="title" 
          #title="ngModel"
          [ngClass]="{'form-control': true, 
          'is-invalid': !title?.valid && title?.touched,
          'is-valid': title?.valid && title?.touched}"
          required
          id="InputTitle" 
          aria-describedby="titleHelp"
            placeholder="Enter title">
          <small id="titleHelp" class="form-text text-muted"
          *ngIf="title?.errors?.required && title?.touched"
          >What do you want to do?</small>
        </div>
        <div class="form-group">
          <input type="hidden" id="deadline" ngModel name="deadline" [value]="'No Deadline'">
        </div>
        
        <div class="form-group">
          <label for="description" class="form-label mt-4">Todo Description</label>
          <textarea ngModel name="description" class="form-control" id="InputDescription" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="deadline" class="form-label mt-4">Deadline</label>
          <input ngModel name="deadline" id="InputDeadline" 
          pattern="^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$"
          #deadline = "ngModel"
          [ngClass]="{'form-control': true, 
          'is-invalid': !deadline?.valid && deadline?.touched,
          'is-valid': deadline.valid && deadline.touched}">
          <small
          *ngIf="deadline?.errors?.pattern && deadline?.touched"
          class="form-text custom-invalid-feedback">
          Input must following YYYY/MM/DD
        </small>
        </div>

        <br>
        <button type="button" [disabled]="!ngForm.form.valid" class="btn btn-primary" (click)="submitHandler(ngForm)">Save</button>
      </div>
      
      <div *ngIf="submitted">
        <h3>Successfully added to todo list!</h3>
        <button class="btn btn-success" (click)="newTodo()">New..</button>
      </div>
    </fieldset>
  </form>
</div>

  