<div class="container">
    <div class="row">
      <label for="userInput" class="col-sm-1"> Filter : </label>
      <div class="col-sm-3">
        <select id="userInput" class="form-select" [(ngModel)]="userInput" (change)="filterTodo()">
          <option [selected]='!userInput' [ngValue]="'All Todo'">All Todo</option>
          <option *ngFor="let p of priority" [ngValue]="p">{{p | titlecase}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-info" (click)="reset()">Clear</button>
      </div>
    </div>
  </div>
  
  <div *ngFor="let s of status">
    <div class="container">
      <br>
      <h2>{{s | titlecase}}</h2>
    </div>
    <div *ngFor="let p of priority">
      <div class="list-group" style="width: rem;" *ngFor="let todo of todos let i = index"
      [class.active]="i == currentIndex" (click)="setCurrentTodo(todo, i)">
      <div [ngClass]="{
        'list-group-item': true,
        'list-group-item-action': true, 
        'list-group-item-danger': todo.priority ==='high' || todo.priority ==='urgent'}" *ngIf="todo.status === s && todo.priority === p">
        <div class="d-flex w-100 justify-content-between">
          <h5 [ngClass]="{'mb-1': true}">{{todo.title}}</h5>
          <small>
            {{todo.priority | titlecase}}
          </small>
        </div>
        <p class="mb-1">{{todo.description}}</p>
        <p>Status : <strong>{{todo.status | titlecase}}</strong></p>
        <small class="text-muted"> Deadline :
          {{todo.deadline | date: 'fullDate'}}
        </small>
        <div class="d-flex justify-content-end">
          <div class="btn-group">
            <a class="btn btn-secondary" (click)="goToUpdate(todo.id)">Edit</a>
            <a (click)="openModal(confirmDeleteModal)" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  
  <ng-template #confirmDeleteModal let-modal>
    <div class="modal-body">
      <div class="row">
        <div class="d-inline-flex p-2 bd-highlight justify-content-end">
          <button type="button" class="close btn" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="row">
        <h5 class="mb-1">Are you sure to delete this Todo?</h5>
      </div>
      <div class="row">
        <div class="d-flex justify-content-end">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteTodo(currentTodo!.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- <ul *ngFor="let todo of todos | orderBy: -priority">
    <li>
      {{todo.priority}}
    </li>
  </ul> -->

  <!-- <ul *ngFor="let s of status | orderBy: -status">
    <li>
      {{s}}
    </li>
  </ul> -->

  <ul *ngFor="let p of priority | orderBy: priority">
    <li>{{p}}</li>
  </ul>