

<ng-template #confirmDeleteModal let-modal>
  <div class="modal-body">
    <div class="row">
      <div class="d-inline-flex justify-content-between">
        <h6 class="text-danger">Warning!!</h6>
        <a type="button" class="btn button-card" (click)="modal.dismiss()">
          <fa-icon [icon]="faTimes" size="lg"></fa-icon>
        </a>
      </div>
    </div>
    <div class="row">
      <h5 class="align-center">Are you sure to delete this Todo?</h5>
    </div>
    <div class="row">
      <div class="d-flex justify-content-end">
        <div class="btn-group">
          <a type="button" class="btn btn-sm btn-secondary" (click)="modal.dismiss()">Cancel</a>
          <a type="button" class="btn btn-sm btn-danger" (click)="deleteTodo(currentTodo!.id)">Delete</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ngb-toast *ngIf="show" [delay]="1000" class="bg-success" [autohide]="true">
  <strong>Deleted</strong>
</ngb-toast>

<div class="container">
  <div class="row">
    <label for="userInput" class="col-sm-1"> Filter : </label>
    <div class="col-sm-3">
      <select id="userInput" class="form-select" [(ngModel)]="userInput" (change)="filterTodo()">
        <option [selected]='!userInput' [ngValue]="'All Todo'">All Todo</option>
        <option *ngFor="let p of priority" [ngValue]="p">{{p | titlecase}}</option>
      </select>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-info" (click)="reset()">Clear</button>
    </div>
  </div>
</div>

<div *ngFor="let s of status |orderBy: priority">
  <div class="container">
    <br>
    <h2>{{s | titlecase}}</h2>
  </div>
  <div *ngFor="let p of priority">
    <div class="container d-flex flex-wrap align-items-start">
      <div *ngFor="let todo of todos let i = index" [class.active]="i == currentIndex"
        (click)="setCurrentTodo(todo, i)">
        <div [ngClass]="{
          'm-1 card': true,
          'border-secondary': todo.priority !== 'high' && todo.priority !== 'urgent',
          'bg-danger text-white': todo.priority ==='high' || todo.priority ==='urgent'}"
          style="width: 20rem; min-height: 10rem" *ngIf="todo.status === s && todo.priority === p">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title mb-1">{{todo.title}}</h5>
              <div class="btn-group">
                <a class="btn button-card" (click)="goToUpdate(todo.id)"><fa-icon [icon]="faEdit" size="lg"></fa-icon></a>
                <a class="btn button-card" (click)="openModal(confirmDeleteModal)"><fa-icon [icon]="faTimesCircle" size="lg"></fa-icon></a>
              </div>
            </div>
            <div class="card-text">
              <small>
                {{todo.priority | titlecase}} / {{todo.status | titlecase}}
              </small>
              <div *ngIf="todo.description === null"> <small>No description</small></div>
              <div *ngIf="todo.description !== null">
                <div [ngClass]="{'limitTextHeight': !details[i]}">
                  <small>{{todo.description}}</small>
                </div>
                <a type="button" class="btn-link"
                  (click)="details[i]=!details[i]"><small>{{ details[i] ? 'Read Less': 'Read More' }}</small>
                </a>
              </div>
            </div>
            <div class="card-text">
              <small> Deadline :
                {{todo.deadline | date: 'mediumDate'}}
              </small>
            </div>
            <div class="d-flex justify-content-end mt-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
