<div class=" container-sm shadow p-3 mb-5 bg-body" style="width: 35rem;">
  <div *ngIf="!submitted">
    <div style="padding-right:15px;" class="container-fluid">
  
      <div class="row">
        <div class="col text-primary">
          <h3>Add Todo</h3>
          <hr>
        </div>
      </div>
    
      <div class="row">
        <form action="" style="width:100%;" [formGroup]="reactiveForm">
          <div class="col">
    
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="fnText">Title</label>
                  <input type="text" [ngClass]="{'form-control': true, 
                  'is-invalid': !title.valid , 'is-valid': title.valid }"
                    formControlName="title" id="fnText">
                  <small *ngIf="title.errors?.required" id="fnHelp"
                    class="form-text text-danger custom-invalid-feedback">What do you want to do?</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="lnText">Description</label>
                  <textarea type="text" [ngClass]="{'form-control': true}" formControlName="description"
                    id="lnText"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="lnText">Deadline</label>
                  <input type="date" [ngClass]="{'form-control': true}" formControlName="deadline"
                    id="inputDeadline" placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="dateToString($event)">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="inputPriority">Priority</label>
                  <select class="form-select" formControlName="priority" id="inputPriority">
                    <option *ngFor="let item of priority" [value]="item">{{item}}</option>
                  </select>
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col text-primary">
                <hr>
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-2">
                <button type="button" [disabled]="!reactiveForm.valid" (click)="submitHandler()" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div *ngIf="submitted">
    <h3>Successfully added to todo list!</h3>
    <button class="btn btn-success" (click)="newTodo()">New..</button>
  </div>
</div>